@keyframes marquee {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-3000vw);
  }
}

/* HEADER STYLES =========================================================== */
header{
  position:fixed;
  z-index: 10;
  top:0;
  left:0;
  width:100%;
  box-sizing: border-box;
  color: var(--white);
  transition: top .3s ease;
}
div.header-inner{
  background-color: var(--bg-color);
  height: 40px;
  padding: 0px 40px 0px 40px;
  display:flex;
  justify-content: space-between;
}
div.site-title{
  opacity: 0;
  transition: opacity .4s;
}
div.site-title:hover{
  opacity:1;
}
div.header-inner p{
  font-family: Intro Mono;
  font-size: 12px;
}
div.typeface-sections{
  display:flex;
  align-items: center;
}
div.typeface-sections p{
  margin: 0 20px;
  color:var(--mid-gray);
}
div.header-typeface-title{
  cursor: pointer;
  opacity: 0;
  transition: opacity .4s;
}
div.header-typeface-title:hover{
  opacity:1;
}
div.typeface-sections p.current-section{
  opacity:1;
  color: var(--white);
  font-variation-settings: 'wght' 700;
}
div.typeface-sections p.buy-link{
  color:goldenrod;
}





/* TYPE MENU =============================================================== */

div.type-menu{
  background-color: var(--bg-color);
  width:100px;
  position: fixed;
  top:0;
  right:20px;
  padding: 60px 20px 20px 20px;
  transform: translateY(-100%);
  transition: all .3s ease;
  z-index: 2;
  border:1px solid;
  text-align: right;
}
div.type-menu a{
  display: block;
  padding-top:10px;
  margin-bottom: 10px;
  border-top:1px solid var(--mid-gray);
  font-family: Intro Mono;
  font-size: 12px;
}
div.type-menu.open{
  transform: translateY(0);
}




/* OPTIONS MENU =========================================================== */
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}
div.options-link{
  height:45px;
  width:45px;
  border-radius: 50%;
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  position: fixed;
  bottom:20px;
  right:20px;
  z-index: 13;
  cursor: pointer;
  opacity: 0;
  transition: all .2s ease;
  border:3px solid;
}
div.options-link:hover{
  transform: scale(1.1);
}
div.options{
  height: 100vh;
  width: 150px;
  position: fixed;
  z-index: 12;
  top:0;
  right:0;
  background-color:var(--bg-color);
  color: var(--white);
  transform: translate(100%, 0px);
  transition: transform .3s, opacity .3s;
  padding: 0px 0px 40px 0px;
  border: 1px solid var(--white);
  border-right: none;
  
}
div.options p{
  font-family: Intro Mono;
  font-size:12px;
  color:var(--mid-gray);
}
div.options p.options-header-one{
  width:100%;
  text-align: center;
  color:var(--white);
}
div.options.open{
  transform: translate(0%, 0px);
}
div.options-header{
  width:100%;
  height:35px;
  border-top: 1px solid var(--mid-gray);
  border-bottom: 1px solid var(--mid-gray);
  display: flex;
  align-items: center;
  margin-bottom:20px;
  background-color: var(--dk-gray);
}
div.options-header p{
  font-size: 13px;
  width:100%;
  text-align: center;
}
div.options-container{
  padding: 0px 10px 0 10px;
}
div.color-container{
  display:flex;
  padding:0;
  margin: 0 10px 20px 10px;
  border:1px solid;
}
div.color-container:hover div.color-circle{
  opacity: .3;
  border:none;
}
div.color-container div.color-circle:hover{
  opacity:1;
  border-left:1px solid;
  border-right:1px solid;
}
div.color-circle{
  height:18px;
  width:18px;
  cursor: pointer;
}
div.color-one{
  background-color: #f5c0ab;
}
div.color-two{
  background-color: #2c3ebb;
}
div.color-three{
  background-color: #0f1010;
}
div.color-four{
  background-color: #552244;
}
div.color-five{
  background-color: #f70047;
}
div.color-six{
  background-color: #1c4f50;
}
div.color-seven{
  background-color: #ffa56a;
}
div.color-eight{
  background-color: #bcf9dd;
}
div.option{
  margin-top:40px;
}
div.style-container{
  padding-bottom:40px;
}
div.option label{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-family: Intro Mono;
  font-size: 10px;
  color:var(--mid-gray);
}
div.opentype-option{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:5px;
}
div.opentype-option p{
  margin:0;
}
div.opentype-container{
  padding-bottom:20px;
}
div.checkbox{
  width: 8px;
  height:8px;
  border-radius: 50%;
  border: 1px solid var(--white);
  cursor: pointer;
}
div.checkbox.selected{
  background-color:rgb(250, 178, 110);
  transform: scale(1.1);
}







.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 20px 40px;
}
section.introduction{
  padding-top:200px;
  height:100vh;
  position: relative;
}
div.typeface-title{
  grid-column: 1/7;
  white-space: nowrap;
  margin-left:40px;
  grid-row:1;
}
div.typeface-title p{
  font-size: 64px;
  margin:0;
  letter-spacing: 0.05em;
  font-variation-settings: 'wght' 400;
  /* border-bottom: 10px solid; */
  width: fit-content;
}
section.alphabet{
  position:absolute;
  bottom:-20px;
  left:0;
  overflow-x:scroll;
  overflow-y: hidden;
  grid-column: 1/13;
  height:600px;
}
section.alphabet span{
  font-size: 400px;
  word-break: normal;
  margin:0;
  animation: marquee 300s linear infinite;
  display: inline-block;
  position: relative;
}






/* STYLES SECTION ======================================================== */

section.styles{
  margin-bottom: 200px;
  margin-top:130px;
}
section.styles p{
  font-size: 80px;
  margin:0;
}
div.styles-left{
  grid-column: 1/7;
}
div.styles-right{
  grid-column: 7/13;
}
div.style{
  display:flex;
  align-items: center;
  border-top:1px solid var(--dk-gray);
}
div.style span{
  font-size: 22px;
  color: var(--mid-gray);
  margin-right:20px;
  font-variation-settings: 'wght' 200;
  font-family: Intro Mono;
}










/* SAMPLES SECTION ======================================================== */

section.samples{
  padding-left:40px;
}
div.sample{
  display:flex;
  flex-wrap: wrap;
  grid-column: 1/13;
  overflow-x: scroll;
  margin-bottom:60px;
  border-top: 1px solid var(--dk-gray);
  padding-top: 40px;
  overflow-y: hidden;
}
/* div.sample.active-sample{
  background-color: rgba(255, 255, 255, 0.055);
} */
div.sample-size{
  width:100%;
}
div.sample div.sample-size p{
  font-size: 14px;
  color:var(--mid-gray);
}
div.sample p.sample{
  margin: 0 0 0 40px;
  outline:none;
  font-variation-settings: 'wght' 200, 'slnt' 0 ;
  word-break: break-word;
}
.ss01{
  font-feature-settings: 'ss01' on;
}
.ss02{
  font-feature-settings: 'ss02' on;
}
.liga{
  font-feature-settings: 'liga' on;
}
.dlig{
  font-feature-settings: 'dlig' on;
}
.frac{
  font-feature-settings: 'frac' on;
}
div.sample-one p{
  font-size:320px;
  line-height: 1;
}
div.sample-two p{
  font-size:250px;
  line-height: 1.1;
}
div.sample-three p{
  font-size:210px;
  line-height: 1.12;
}
div.sample-four p{
  font-size:180px;
  line-height: 1.22;
}
div.sample-five p{
  font-size:150px;
  line-height: 1.29;
}
div.sample-six p{
  font-size:130px;
  line-height: 1.29;
}
div.sample-seven p{
  font-size:80px;
  line-height: 1.32;
}
div.sample-eight p{
  font-size:64px;
  width: 80%;
  line-height: 1.4;
}
div.sample-nine p{
  font-size:48px;
  width: 70%;
}
div.sample-ten p{
  font-size:28px;
  width: 60%;
}
div.sample-eleven p{
  font-size:18px;
  width: 50%;
  line-height: 2.3;
}
div.sample-twelve p{
  font-size:12px;
  width: 40%;
  line-height: 2.4;
}









/* GLYPHS SECTION ==================================================================================== */

section.tf-three{
  display: flex;
  border-top:1px solid;
  margin-top:300px;
}
div.tf-three-left{
  height:100vh;
  position:sticky;
  top:0;
  display:flex;
  flex-wrap: wrap;
  padding-right: 100px;
}
div.tf-three-left select{
  margin-left:40px;
  width:170px;
  border: 1px solid var(--white);
}
div.active-glyph-container{
  width:170px;
  height:170px;
  border:1px solid;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 80px 40px 10px 40px;
  font-variation-settings: 'wght' 400, 'slnt' 0;
}
div.active-glyph-container p{
  font-size:84px;
}
div.hover-glyph{
  width:500px;
  height:500px;
  background-color:var(--black);
  position:absolute;
  top:0;
  left:0;
  z-index: 10;
  pointer-events: none;
  visibility: hidden;
  font-size: 350px;
  display: flex;
  align-items:center;
  justify-content: center;
  transition:transform 2s ease;
  -webkit-box-shadow: 10px 10px 45px 1px var(--black);
  -moz-box-shadow: 10px 10px 45px 1px var(--black);
  box-shadow: 10px 10px 45px 1px var(--black);
  border: 1px solid;
}
div.glyph-details{
  margin-top:10px;
  margin-bottom: 10px;
  opacity: 0.8;
  height:30px;
  font-family: Intro Mono;
  font-size: 14px;
  width:200px;
}
div.glyph-details xmp{
  font-family: Intro Mono;
}
div.glyph-details-container{
  margin-top: 350px;
  margin-left:40px;
}
div.glyph-details-container p{
  font-family: Intro Mono;
  font-size: 12px;
  color:var(--mid-gray);
  margin:0;
}
div.tf-three-right{
  width:100%;
}
div.glyphs{
  padding: 80px 40px 150px 0;
}
div.glyphs h1{
  margin-top:0;
}
div.glyphs-container{
  font-size: 32px;
  font-variation-settings: 'wght' 400, 'slnt' 0;
  position: relative;
}
section.glyphs-category{
  display:grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 5px;
}
section.glyphs-category p{
  grid-column: 1/9;
  font-size: 18px;
  margin:40px 0 10px 0;
  font-family: Intro;
  grid-column: 1/17;
}
section.glyphs-category div{
  height:100px;
  height: 70px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 28px;
}
section.glyphs-category:hover div{
  opacity: 0.5;
}
section.glyphs-category div:hover{
  /* background-color: rgb(206, 206, 206); */
  transform: scale(1.2);
  opacity: 1;
  z-index: 4;
}
select.glyphs-select{
  margin-top:20px;
  border-bottom:1px solid var(--gray);
}



















section.tester{
  border:1px solid;
  display:flex;
  /* align-items: center; */
  height:120vh;
  padding: 100px 40px;
  position:relative;
}
div.tester-start:nth-child(1){
  position: sticky;
  height:30px;
  width:30px;
}
div.tester-start:nth-child(2){
  position: absolute;
  bottom:200px;
}
div.tester-text{
  font-size:220px;
  outline: none;
  /* position:sticky;
  position: -webkit-sticky;
  top:50vh;
  left:0; */
}
@keyframes blink {
  0%{
    opacity:0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity:0;
  }
}
span.blinking-cursor{
  position:absolute;
  height:300px;
  width:1px;
  background-color:red;
  animation: blink 1s infinite linear; 
}

















section.info{
  height:200vh;
  background-color: gray;
  /* display:grid;
  grid-template-columns: repeat(12, 1fr); */
}
div.info-one{
  grid-column: 1/4;
}
div.info-two{
  grid-column: 4/7;
}
div.info-three{
  grid-column: 7/10;
}
div.info-four{
  grid-column: 10/13;
}







/* DOWNLOAD SECTION -------------------------------------------------------- */

section.download{
  padding: 200px 0px;
  display:flex;
  justify-content: center;
}
div.download-circle-main{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  z-index: 1;
  cursor:pointer;
}
div.download-circle-main:hover div.hover-circle{
  border: 1px solid var(--pink);
}
div.download-circle-main:hover{
  border: 1px solid var(--pink);
}
div.hover-circle{
  position: absolute;
  top:0;
  left:0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1px solid;
  opacity:0;
  transition: all 1s;
}







footer p{
  color:var(--mid-gray);
}
footer a{
  color:var(--mid-gray);
  font-family: Intro Mono;
  font-size: 12px;
  display: block;
  margin-top: 14px;
}
div.footer-left, div.footer-right {
  margin:100px 0;
  border-top:1px solid var(--dk-gray);
}
div.footer-left{
  grid-column: 1/7;
}
div.footer-left p.footer-body{
  width:80%;
}
p.footer-body a{
  display:inline;
}
p.contact-info{
  border-top:1px solid var(--dk-gray);
}
div.footer-right{
  grid-column: 10/13;
  /* display: flex;
  justify-content: space-between; */
}
p.footer-header{
  font-variation-settings: 'wght' 600, 'slnt' 0;
  font-size: 19px;
}